#######################################################################
#     Diese .htaccess wurde vom STRATO-Webservermanager erstellt      #
#######################################################################


#mod_gzip_on Yes

#Options -Indexes

DirectoryIndex home.php
 
Redirect /auftraege /goToTransaction.php?language=de
Redirect /orders /goToTransaction.php?language=en
Redirect /backend /login.php





